:root, .layout-boxed[data-bs-theme="custom_theme"] {
    --tblr-body-color: #ffffff; 
    --tblr-body-bg: #ffffff;
    --tblr-bg-surface: #F8F8F8;
}

html {
    font-family: 'Inter', sans-serif;
}

h1 {
   color: #3C2946; 
}

p {
    color: #56556E;
}
