body {
    background-color: #BBD196;
    font-family: 'Inter', sans-serif;
    overflow-x: none;
}

.content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
}

h1 {
    color: #3C2946;
}

.center {
    text-align: center;
}

p {
    color: #3C2946;
}

iframe {
    border: none;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.logo {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

img {
    border-radius: 15px;
}

.info-card-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}

.info-card {
    background-color: #3C2946;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 25%;
    height: auto;
}

.info-card img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 20px;
}

.info-card p {
    color: #ffffff;
}

.info-card h1 {
    color: #ffffff;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 100%;
    }

    .info-card-gallery {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info-card {
        width: 100%;
    }
}
